server:
  ssl:
    key-store-password: kurento
    key-store-type: JKS
    key-store: classpath:keystore.jks
    key-alias: kurento-selfsigned
  port: 8081

spring:
  profiles:
    active: local
  data:
    redis:

      host: localhost
      port: 6379