server:
  port: 8091
  ssl:
    key-store-password: kurento
    key-store-type: JKS
    key-store: classpath:keystore.jks
    key-alias: kurento-selfsigned

spring:
  data:
    redis:
      port: 6379
      host: localhost
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://localhost:3306/coview_meta?serverTimezone=asia/seoul&characterEncoding=UTF-8
    username: root
    password: eddy
  jpa:
    database-platform: org.hibernate.dialect.MariaDBDialect
    database: MYSQL
    generate-ddl: true
    properties:
      hibernate:
        default_batch_fetch_size: 100 # N+1 문제 발생시 in 절로 100개 단위로 나눠서 호출
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      ddl-auto: create
    open-in-view: false

chat:
  ttl:
    time-unit: minutes
    invite-key-ttl: 60
  chat-server:
    server-name: chat
  http-client:
    server:
      multimedia:
        entry-point: https://localhost:8092
